<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://jenil.github.io/bulmaswatch/nuclear/bulmaswatch.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.2/math.js"></script>
    <script src="controller.js"></script>
    <style></style>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <!--        <h1 class="title">Hello World</h1>-->
        <!--        <p class="subtitle">My first website with <strong>Bulma</strong>!</p>-->
      </div>
    </section>
    <div class="columns is-centered">
      <!-- ---------------------------------------------- calculator --------------------- -->
      <div
        class="column is-narrow content box"
        ng-app="App"
        ng-controller="Controller"
      >
        <div class="columns is-vcentered">
          <div
            class="column is-two-thirds button is-light has-text-left is-small"
          >
            Calculator.exe
          </div>
          <div class="column button is-light is-small">—</div>
          <div class="column button is-light is-small">▢</div>
          <div class="column button is-light is-small">x</div>
        </div>
        <div class="columns is-vcentered">
          <div class="column is-narrow button is-white is-medium">≡</div>
          <div class="column button is-white is-medium">
            Scientific
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="column button is-white is-medium"></div>
          <div class="column button is-white is-medium">⟲</div>
        </div>
        <div class="columns is-vcentered">
          <div class="column button is-narrow is-small is-white has-text-grey">
            M
          </div>
          <div class="column button is-white has-text-right is-small">
            {{MemoryDisplay()}}
          </div>
        </div>
        <div class="columns is-vcentered">
          <div class="column button is-narrow is-white has-text-grey">C</div>
          <div class="column button is-white has-text-right">
            {{calculation}}
          </div>
        </div>
        <div class="columns is-vcentered">
          <div class="column button is-narrow is-white has-text-grey">E</div>
          <div class="column button is-white has-text-right is-size-2 is-large">
            {{input}}
          </div>
        </div>
        <div class="columns is-vcentered">
          <div
            class="column is-one-fifth button is-white is-small"
            ng-click="HandleInput('GRAD')"
          >
            GRAD
          </div>
          <div
            class="column is-one-fifth button is-white is-small"
            ng-click="HandleInput('HYP')"
          >
            HYP
          </div>
          <div
            class="column is-one-fifth button is-white is-small"
            ng-click="HandleInput('F-E')"
          >
            F-E
          </div>
          <div class="column button is-white is-small"></div>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["MC", "MR", "M+", "M-", "MS", "M"].forEach((e) => {
              document.write(
                `<div class="column is-one-sixth button is-light is-small" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["x²", "xʸ", "sinh", "cosh", "tanh"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-light" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["√", "10ˣ", "log", "Exp", "Mod"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-light" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["↑", "CE", "C", "⌫", "/"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-white is-large" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["π", "7", "8", "9", "*"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-white is-large" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["n!", "4", "5", "6", "-"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-white is-large" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["±", "1", "2", "3", "+"].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-white is-large" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
        <div class="columns is-vcentered">
          <script>
            ["(", ")", "0", ".", "="].forEach((e) => {
              document.write(
                `<div class="column is-one-fifth button is-white is-large" ng-click="HandleInput('${e}')" >${e} </div>`
              );
            });
          </script>
        </div>
      </div>
      <!-- ---------------------------------------------- calculator --------------------- -->
    </div>
  </body>
</html>
