@page
@model agents_app.Pages.Form

@{
    Layout = "_Layout";
}

<h1 class="title">
    Describe how you'd like to use your computer
</h1>
<form action="Waiting">
    <div class="content box">
        <div class="columns">
            <div class="column">
                <section class="section">
                    <h2>Gaming:</h2>

                    <input type="radio" id="game_0" name="game" value="0">
                    <label for="game_0">Not at all</label><br>

                    <input type="radio" id="game_1" name="game" value="4" checked>
                    <label for="game_1">Little</label><br>

                    <input type="radio" id="game_2" name="game" value="7">
                    <label for="game_2">Some</label><br>

                    <input type="radio" id="game_3" name="game" value="10">
                    <label for="game_3">A lot</label>

                    <br>
                    <br>
                    <label for="game_priority">Priority</label>
                    <select name="game_priority" id="game_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>

                <section class="section">
                    <h2>Working:</h2>

                    <input type="radio" id="work_0" name="work" value="0">
                    <label for="work_0">Not at all</label><br>

                    <input type="radio" id="work_1" name="work" value="4" checked>
                    <label for="work_1">Little</label><br>

                    <input type="radio" id="work_2" name="work" value="7">
                    <label for="work_2">Some</label><br>

                    <input type="radio" id="work_3" name="work" value="10">
                    <label for="work_3">A lot</label>

                    <br>
                    <br>
                    <label for="work_priority">Priority</label>
                    <select name="work_priority" id="work_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>

                <section class="section">
                    <h2>Movies:</h2>

                    <input type="radio" id="movie_0" name="movie" value="0">
                    <label for="movie_0">Not at all</label><br>

                    <input type="radio" id="movie_1" name="movie" value="4" checked>
                    <label for="movie_1">Little</label><br>

                    <input type="radio" id="movie_2" name="movie" value="7">
                    <label for="movie_2">Some</label><br>

                    <input type="radio" id="movie_3" name="movie" value="10">
                    <label for="movie_3">A lot</label>

                    <br>
                    <br>
                    <label for="movie_priority">Priority</label>
                    <select name="movie_priority" id="movie_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>
            </div>

            <div class="column">
                <section class="section">
                    <h2>Browsing the internet:</h2>

                    <input type="radio" id="net_0" name="net" value="0">
                    <label for="net_0">Not at all</label><br>

                    <input type="radio" id="net_1" name="net" value="4" checked>
                    <label for="net_1">Little</label><br>

                    <input type="radio" id="net_2" name="net" value="7">
                    <label for="net_2">Some</label><br>

                    <input type="radio" id="net_3" name="net" value="10">
                    <label for="net_3">A lot</label>

                    <br>
                    <br>
                    <label for="net_priority">Priority</label>
                    <select name="net_priority" id="net_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>

                <section class="section">
                    <h2>Willingness to upgrate the computer:</h2>

                    <input type="radio" id="up_0" name="up" value="0">
                    <label for="up_0">In a year</label><br>

                    <input type="radio" id="up_1" name="up" value="4" checked>
                    <label for="up_1">In two years</label><br>

                    <input type="radio" id="up_2" name="up" value="7">
                    <label for="up_2">In three years</label><br>

                    <input type="radio" id="up_3" name="up" value="10">
                    <label for="up_3">In four years</label>

                    <br>
                    <br>
                    <label for="up_priority">Priority</label>
                    <select name="up_priority" id="up_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>

                <section class="section">
                    <h2>Portability:</h2>

                    <input type="radio" id="port_0" name="port" value="0">
                    <label for="port_0">Used at home only</label><br>

                    <input type="radio" id="port_1" name="port" value="5" checked>
                    <label for="port_1">Very rarely outside of home</label><br>

                    <input type="radio" id="port_2" name="port" value="10">
                    <label for="port_2">Sometimes or more outside of home</label><br>

                    <br>
                    <br>
                    <label for="port_priority">Priority</label>
                    <select name="port_priority" id="port_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>


                <section class="section">
                    <h2>Knowledge of computers:</h2>

                    <input type="radio" id="know_0" name="know" value="0">
                    <label for="know_0">Very low</label><br>

                    <input type="radio" id="know_1" name="know" value="5" checked>
                    <label for="know_1">Medium</label><br>

                    <input type="radio" id="know_2" name="know" value="10">
                    <label for="know_2">Very knowledgeable</label><br>

                    <br>
                    <br>
                    <label for="know_priority">Priority</label>
                    <select name="know_priority" id="know_priority">
                        <option value="0.00">Doesn't matter at all</option>
                        <option value="0.25">Kinda matters</option>
                        <option value="0.50">Eh</option>
                        <option value="0.75">Matters a lot</option>
                        <option value="1.00">Very much super matters</option>
                    </select>
                </section>
            </div>
        </div>

        <div class="box">
            <label for="cost">Maximal budget:</label>
            <input type="number" value="40000" name="cost" id="cost">
        </div>

        <input type="submit" value="Submit!" class="input">
    </div>
</form>