@page
@model agents_app.Pages.Form

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/slate/bulmaswatch.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Describe how you'd like to use your computer
      </h1>
      <form action="Waiting">
        <section class="section">
          <h2>Gaming:</h2>
          
          <input type="radio" id="game_0" name="game" value="0">
          <label for="game_0">Not at all</label><br>
          
          <input type="radio" id="game_1" name="game" value="1" checked>
          <label for="game_1">Little</label><br>
          
          <input type="radio" id="game_2" name="game" value="2">
          <label for="game_2">Some</label><br>
          
          <input type="radio" id="game_3" name="game" value="3">
          <label for="game_3">A lot</label>
        </section>
        
        <section class="section">
          <h2>Working:</h2>
                  
          <input type="radio" id="work_0" name="work" value="0">
          <label for="work_0">Not at all</label><br>
                  
          <input type="radio" id="work_1" name="work" value="1" checked>
          <label for="work_1">Little</label><br>
                  
          <input type="radio" id="work_2" name="work" value="2">
          <label for="work_2">Some</label><br>
                  
          <input type="radio" id="work_3" name="work" value="3">
          <label for="work_3">A lot</label>
        </section>
        
        <section class="section">
          <h2>Movies:</h2>
                  
          <input type="radio" id="movie_0" name="movie" value="0">
          <label for="movie_0">Not at all</label><br>
                  
          <input type="radio" id="movie_1" name="movie" value="1" checked>
          <label for="movie_1">Little</label><br>
                  
          <input type="radio" id="movie_2" name="movie" value="2">
          <label for="movie_2">Some</label><br>
                  
          <input type="radio" id="movie_3" name="movie" value="3">
          <label for="movie_3">A lot</label>
        </section>
        
        <section class="section">
          <h2>Browsing the internet:</h2>
                  
          <input type="radio" id="net_0" name="net" value="0">
          <label for="net_0">Not at all</label><br>
                  
          <input type="radio" id="net_1" name="net" value="1" checked>
          <label for="net_1">Little</label><br>
                  
          <input type="radio" id="net_2" name="net" value="2">
          <label for="net_2">Some</label><br>
                  
          <input type="radio" id="net_3" name="net" value="3">
          <label for="net_3">A lot</label>
        </section>
        
        <section class="section">
          <h2>Willingness to upgrate the computer:</h2>
                          
          <input type="radio" id="up_0" name="up" value="0">
          <label for="up_0">In a year</label><br>
                          
          <input type="radio" id="up_1" name="up" value="1" checked>
          <label for="up_1">In two years</label><br>
                          
          <input type="radio" id="up_2" name="up" value="2">
          <label for="up_2">In three years</label><br>
                          
          <input type="radio" id="up_3" name="up" value="3">
          <label for="up_3">In four years</label>
        </section>
        
        <section class="section">
          <h2>Portability:</h2>
                          
          <input type="radio" id="port_0" name="port" value="0">
          <label for="port_0">Used at home only</label><br>
                          
          <input type="radio" id="port_1" name="port" value="1" checked>
          <label for="port_1">Very rarely outside of home</label><br>
                          
          <input type="radio" id="port_2" name="port" value="2">
          <label for="port_2">Sometimes or more outside of home</label><br>
        </section>
        
        <section class="section">
          <h2>Knowledge of computers:</h2>
                          
          <input type="radio" id="know_0" name="know" value="0">
          <label for="know_0">Very low</label><br>
                          
          <input type="radio" id="know_1" name="know" value="1" checked>
          <label for="know_1">Medium</label><br>
                          
          <input type="radio" id="know_2" name="know" value="2">
          <label for="know_2">Very knowledgeable</label><br>
        </section>
        
        <input type="submit" value="Submit!">
      </form>
    </div>
  </section>
  </body>
</html>
