@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}


<h1 class="title">
    Pretty index page here
</h1>

<a href="Form">If you want a computer - click this.</a>
