@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/slate/bulmaswatch.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Pretty index page here
      </h1>
      
      <a href="Form">If you want a computer - click this.</a>
      
    </div>
  </section>
  </body>
</html>
