@page
@using agents_app.Code
@model agents_app.Pages.Results

@{
    Layout = "_Layout";
    var computers = AgentManager.GetFoundComputers();
}

<h1 class="title">
    Proposed computers for you - please select one:
</h1>

<form action="Chosen"><ol>
        @{
            var i = 0;
            foreach (var computer in computers)
            {
                <li>
                    <input type="radio" id="input_@i" name="computer" value="@computer.Name" checked>
                    <label for="input_@i">@computer.Name</label>
                    <br>
                </li>
                i++;
            }
        }
        <br>
        <input type="submit" class="input" value="Submit!">
    </ol>
</form>
