@page
@using agents_app.Code
@model agents_app.Pages.Waiting

@{
    Layout = "_Layout";

    Parameters parameters = new();

    parameters.Gaming = int.Parse(Request.Query["game"][0]);
    parameters.GamingPriority = int.Parse(Request.Query["game"][0]);
    parameters.Working = int.Parse(Request.Query["work"][0]);
    parameters.WorkingPriority = int.Parse(Request.Query["work"][0]);
    parameters.Movies = int.Parse(Request.Query["movie"][0]);
    parameters.MoviesPriority = int.Parse(Request.Query["movie"][0]);
    parameters.Browsing = int.Parse(Request.Query["net"][0]);
    parameters.BrowsingPriority = int.Parse(Request.Query["net"][0]);
    parameters.Upgrading = int.Parse(Request.Query["up"][0]);
    parameters.UpgradingPriority = int.Parse(Request.Query["up"][0]);
    parameters.Portability = int.Parse(Request.Query["port"][0]);
    parameters.PortabilityPriority = int.Parse(Request.Query["port"][0]);
    parameters.Knowledge = int.Parse(Request.Query["know"][0]);
    parameters.KnowledgePriority = int.Parse(Request.Query["know"][0]);

    World.SetParameters(parameters);

}

<!DOCTYPE html>
<html lang="">
<head>
    <title></title>
    <script>
        // go to results page
        window.location.replace("Results");
    </script>
</head>
<body>
<div>
    huh?
</div>
</body>
</html>