@page
@using agents_app.Code
@using Microsoft.AspNetCore.Http
@model agents_app.Pages.Waiting

@{
    Layout = null;
    
    // game, work, movie, net, up, port, know
    
    int game = int.Parse( Request.Query["game"][0]);
    int work = int.Parse( Request.Query["work"][0]);
    int movie = int.Parse( Request.Query["movie"][0]);
    int net = int.Parse( Request.Query["net"][0]);
    int up = int.Parse( Request.Query["up"][0]);
    int port = int.Parse( Request.Query["port"][0]);
    int know = int.Parse( Request.Query["know"][0]);

}

<!DOCTYPE html>
<html lang="">
<head>
    <title></title>
    <script>
        window.location.replace("Results");
    </script>
</head>
<body>
<div>
    huh?
</div>
</body>
</html>