@page
@using agents_app.Code
@model agents_app.Pages.Waiting

@{
    Layout = "_Layout";

    Parameters parameters = new();

    parameters.Gaming = float.Parse(Request.Query["game"][0]);
    parameters.GamingPriority = float.Parse(Request.Query["game_priority"][0]);
    parameters.Working = float.Parse(Request.Query["work"][0]);
    parameters.WorkingPriority = float.Parse(Request.Query["work_priority"][0]);
    parameters.Movies = float.Parse(Request.Query["movie"][0]);
    parameters.MoviesPriority = float.Parse(Request.Query["movie_priority"][0]);
    parameters.Browsing = float.Parse(Request.Query["net"][0]);
    parameters.BrowsingPriority = float.Parse(Request.Query["net_priority"][0]);
    parameters.Upgrading = float.Parse(Request.Query["up"][0]);
    parameters.UpgradingPriority = float.Parse(Request.Query["up_priority"][0]);
    parameters.Portability = float.Parse(Request.Query["port"][0]);
    parameters.PortabilityPriority = float.Parse(Request.Query["port_priority"][0]);
    parameters.Knowledge = float.Parse(Request.Query["know"][0]);
    parameters.KnowledgePriority = float.Parse(Request.Query["know_priority"][0]);

    parameters.Cost = int.Parse(Request.Query["cost"][0]);

    World.SetParameters(parameters);

}

<!DOCTYPE html>
<html lang="">
<head>
    <title></title>
    <script>
        // go to results page
        window.location.replace("Results");
    </script>
</head>
<body>
<div>
    huh?
</div>
</body>
</html>